.h-100 {
    height: 100%;
}
.d-none {
    display: none;
}
.pointer {
    cursor: pointer;
}
.d-block {
    display: block;
}
.mt-60px{
    margin-top: 60px;
}
.float-right {
    float: right !important;
}
.block-center-parent{
    position: relative !important;
}
.block-center-child{
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.text-left {
    text-align: left;
}
.font-size-30 {
    font-size: 30px !important;
}
.text-center {
    text-align: center;
}
.w-100 {
    width: 100%;
}
.mt-0 {
    margin-top: 0 !important;
}
.mt-3 {
    margin-top: 1.5rem;
}
.font-bold {
    font-weight: bold;
}
.h-body-overview {
    height: calc(100% - 60px - 37px) !important;
}
.right-line {
    border-right: solid 1px black;
}
.mb-2 {
    margin-bottom: 1rem !important;
}
.p-4 {
    padding: 1.5rem;
}
.text-right {
    text-align: right;
}
.mr-2 {
    margin-right: .5rem;
}
.min-h-200 {
    height: 200px;
}
