.h-100 {
    height: 100%;
}
.d-none {
    display: none;
}
.pointer {
    cursor: pointer;
}
.d-block {
    display: block;
}
.mt-60px{
    margin-top: 60px;
}
.float-right {
    float: right !important;
}
.block-center-parent{
    position: relative !important;
}
.block-center-child{
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.text-left {
    text-align: left !important;
}
.font-size-30 {
    font-size: 30px !important;
}
.text-center {
    text-align: center;
}
.w-100 {
    width: 100%;
}
.mt-0 {
    margin-top: 0 !important;
}
.mt-3 {
    margin-top: 1.5rem;
}
.font-bold {
    font-weight: bold;
}
.right-line {
    border-right: solid 1px black;
}
.mb-2 {
    margin-bottom: 1rem !important;
}
.p-4 {
    padding: 1.5rem;
}
.text-right {
    text-align: right;
}
.mr-2 {
    margin-right: .5rem;
}
.min-h-200 {
    height: 200px;
}
.ml-2 {
    margin-left: .5rem;
}
.h-2rem {
    height: 2rem !important;
}
.d-flex {
    display: flex !important;
}
.schedule-with-body {
    height: calc(100% - 60px);
    margin-top: 60px;
    overflow-y: hidden;
}
.common-with-body {
    height: calc(100% - 60px);
    margin-top: 60px;
}
.font-size-xx-large {
    font-size: xx-large;
}
.scroll-auto {
    overflow: auto;
}
.mw-100 {
    max-width: 100%;
}
.p-1 {
    padding: .25rem;
}
.mt-2 {
    margin-top: 1rem;
}
.color-y {
    color: #DE9260 !important;
}
.bg-tool-gray {
    background-color: #E6E7E8 !important;
}
.border-none {
    border: none !important;
}
.mt-2rem {
    margin-top: 2rem !important;
}
.fixed {
    position: fixed;
}
.z-100 {
    z-index: 100;
    top: 60px;
}
.bg-images-layout {
    background-color: #333 !important;
}
.item-center {
    align-items: center !important;
}
.mt-tool-navbar {
    margin-top: calc(2rem + 60px) !important;
}
.max-h-100 {
    max-height: 100% !important;
}
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.el-breadcrumb-hover:hover {
    color: burlywood !important;
}
.item-space-between {
    justify-content: space-between;
}
.color-burlywood {
    color: burlywood !important;
}
.border-end {
    border-bottom: #545c64 solid 1px;
}
.font-size-20 {
    font-size: 20px;
}
